# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSpurces.local.xml
/out/production/
/.idea


checkstyle-idea.xml
lab.iml
misc.xml
modules.xml
uiDesigner.xml
vcs.xml
workspace.xml

*.class
/target/